.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.homeLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border-radius: 5px;
}

.homeLink:hover {
  background-color: darkblue;
}
